// @import "./variable/brandA";
// @import "./variable/brandB";

body {
  padding: 1%;
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
  transition: all 0.3s;
  color: lightblue;

  &:hover {
    transform: translateX(50px);
    color: pink;
  }
}

.bg {
  background-color: var(--bgColor);
  max-width: fit-content;
  padding: 1em;
}
